@model User
@{
    ViewData["Title"] = "profile";
}

<h1 style="text-align:center;"> Your Account </h1>

<h3>User-Name </h3>
<p>@Model.fName @Model.lName</p>

<h3>Gender </h3>
<p>@Model.Gender</p>

<h3>Email </h3>
<p>@Model.Email</p>

<h3> Password </h3>
<p>@Model.Password</p>

